<nav class="navbar is-transparent" *ngIf="router.url != '/login'">
  <div class="navbar-brand">
    <img src="../assets/soundshare_written.png" class="navbar-image">
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      <p class="margin">{{id}}</p>
      <p class="margin">{{email}}</p>
      <button class="button is-primary is-medium is-rounded margin" (click)="router.navigate(['addSong'])">Add songs</button>
      <button class="button is-primary is-medium is-rounded margin" (click)="router.navigate(['playlists'])">Manage your playlists</button>
      <button class="button is-primary is-medium is-rounded margin" (click)="router.navigate(['addFriend'])">Manage your friends</button>
      <button class="button is-primary is-medium is-rounded margin" (click)="logout()">Log out</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
