<section class="section">
  <div class="container">
    <img src="../../assets/soundshare_written.png" class="image"><br><br><br><br><br><br>
    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <div class="card-header-title">
              <h5 class="title is-5">Registration</h5>
            </div>
          </header>
          <div class="card-content">
            <div class="content">
              <div class="field">
                <div class="control">
                  <input class="input is-primary" type="text" placeholder="Email" [(ngModel)] = "registration_email">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-primary" type="password" placeholder="Password" [(ngModel)] = "registration_password">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-primary" type="text" placeholder="Username" [(ngModel)] = "username">
                </div>
              </div>
            </div>
            <button
              class="button is-fullwidth is-primary"
              [disabled]="! (registration_email && registration_password && username)"
              (click)="register(registration_email, registration_password, username)"
            >Register</button>
          </div>
        </div>
      </div>
      <div class="column"><br>
        <div class="card">
          <header class="card-header">
            <div class="card-header-title">
              <h5 class="title is-5">Login</h5>
            </div>
          </header>
          <div class="card-content">
            <div class="content">
              <div class="field">
                <div class="control">
                  <input class="input is-primary" type="text" placeholder="Email" [(ngModel)] = "login_email">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-primary" type="password" placeholder="Password" [(ngModel)] = "login_password">
                </div>
              </div>
            </div>
            <button
              class="button is-fullwidth is-primary"
              [disabled]="! (login_email && login_password)"
              (click)="login(login_email, login_password)"
            >Register</button>
          </div>
        </div>
      </div>
      <div id="snackbar">{{snackbarText}}</div>
    </div>
  </div>
</section>
