<div class="content">
  <div *ngFor="let song of playlist_songs_array">
    <article class="message is-primary margin-top">
      <div class="message-body">
        <div class="columns">
          <div class="column is-11">
            <p class="title is-4">{{song.title}}</p>
            <p class="subtitle is-5">{{song.artist}}</p>
          </div>
          <div class="column is-1">
            <img class="image is-64x64 small_rounded_image" [src]="song.cover_url">
          </div>
        </div>
      </div>
    </article>
  </div><br>
  <div *ngIf="modify_state">
    <h3 class="title is-3">Songs you can add:</h3>
    <div *ngFor="let song of addable_songs_array">
      <article class="message is-primary margin-top">
        <div class="message-body">
          <div class="columns">
            <div class="column is-9">
              <p class="title is-4">{{song.title}}</p>
              <p class="subtitle is-5">{{song.artist}}</p>
            </div>
            <div class="column is-2">
              <button class="button is-primary" (click)="addSongToPlaylist(playlistID, song._id)">Add to playlist</button>
            </div>
            <div class="column is-1">
              <img class="image is-64x64 small_rounded_image" [src]="song.cover_url">
            </div>
          </div>
        </div>
      </article>
    </div>
  </div><br>
  <div class="columns">
    <div class="column is-one-third">
      <button class="button is-primary is-fullwidth" (click)='listen.emit(null)'>Listen to playlist</button>
    </div>
    <div class="column is-one-third">
      <button class="button is-primary is-fullwidth" (click)="modify_state= true">Add song to your playlist</button>
    </div>
    <div class="column is-one-third">
      <button class="button is-primary is-fullwidth" (click)='delete.emit(null)'>Delete playlist</button>
    </div>
  </div>
</div>
